@model IEnumerable<E_Commerce.Models.Genre>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<h2 class="marg_top">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary" })
</p>
@using (Html.BeginForm("Index", "GenreManager", FormMethod.Get))
{
    <div class="input-group marg_butt marg_top">
        <input type="text" name="search" class="form-control" placeholder="Enter your keyword here"/>
        <button type="submit" class="btn btn-outline-primary col-1">
            <i class="fa fa-search"></i>
        </button>    </div>
}
@if (Model.Count() == 0)
{
    <div class="alert alert-info" role="alert">
        Record is not found
    </div>
}
else
{
    <table class="table table-bordered table-hover table-responsive d-sm-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SingleOrDefault().GenreName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GenreId }, new { @class = "btn btn-outline-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GenreId }, new { @class = "btn btn-outline-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GenreId }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }

    </table>
}
@if (((IPagedList)Model).PageCount > 0)
{
    <div class="marg_butt">
        @{ var x = ((IPagedList)Model);}
        Page @x.PageNumber of @x.PageCount

        @Html.PagedListPager((IPagedList)Model, PageNo => Url.Action(("Index"),
                 new { PageNo, search = Request.QueryString["search"] }),
                 PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
}