@model E_Commerce.Models.SlideShow

@{
    ViewBag.Title = "Details";
}

<h2 class="marg_top">Details</h2>

<div>
    <h4>SlideShow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img src="~/Content/Images/SlideShows/@Html.DisplayFor(model => model.ImageUrl)" class="thumbnail" style="width:100px; height:75px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageAlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

    </dl>
</div>
<p class="marg_butt">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
</p>
